# ------------------------------------------------------------------
# Python 編譯產物
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# ------------------------------------------------------------------
# Virtual environments
venv/
env/

# ------------------------------------------------------------------
# 機器學習模型權重
# *.pth
# *.pt

# ------------------------------------------------------------------
# 壓縮輸出、位流
*.npz
recon_ply/
bitstreams/

# ------------------------------------------------------------------
# IDE / 編輯器設定
.vscode/
.idea/

# ------------------------------------------------------------------
# 忽略整個 dataset 資料夾
dataset/*
!dataset/.gitkeep